body {
    background-color: #303030;
    color: white;
}

input {
    margin: 5px 0;
    width: 100%;
    background-color: #424242;
    border-style: none;
    color: white;
}

#status-box {
    height: 120px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
}

#cur-status {
    float: right;
}